body {
    background-color: black;
    color: green;
}

header {
   font-size: 50px;
   color: white;
   border-bottom: solid 10px blue;
   text-align: center;
}

section{
    display: table-column-group;
    background-color: blue;
}